# Python
.python-version
.ipynb_checkpoints/**
*.pyc
/__pycache__/**
*.ipynb

# Inputs and Outputs
**.xlsx
**.out
**.png

# MAC/OSX
**.DS_Store

# Editors
.vscode/**
.idea/**

# Environments
.env
.venv
env/**
venv/**

